.verde{
    background-color: 2E6A2F;
}

.rojo{
    background-color: C32F27;
}


.seleccionado{
    background-color: e8e9eb;
}

.blanco{
    background-color: ffffff;
}

.grisClaro{
    background-color: f9f7f6;
}