@use "colores" as colores;

.seleccionado{
    background-color: colores.$color-seleccionado !important;
    &:hover{
        filter: brightness(100%);
        color: initial;
    }
}

.eliminados{
    background-color: colores.$color-secundario;
    color: black;
    border: 0.3px solid black;
    &:hover{
        background-color: colores.$color-rojo;
        color: colores.$color-blanco;
        border: none;
    }
}

.modificar{
    background-color: colores.$color-blanco;
    &:hover{
        background-color: colores.$color-seleccionado;
        border: none;
    }
}

.iconos{
    padding: 0.1vh 2vw;
    background-color: transparent;
    border: none;
    border-radius: 20px;
    @media (min-width: 768px){
        padding: 0.5vh 1vw;
    }
    
}

.btnModificar{
    text-align: center;
    width: fit-content;
    height: fit-content;

    background-color: colores.$color-blanco !important;

    &:hover{
        filter: brightness(95%);
    }

    @media (min-width: 768px) and (max-width: 1023px) {
        height: 2.5vh;
    }

    @media (max-width: 768px) {
        width: 30vw;
        height: 5vh;
    }
}