@use '../colores' as colores;
@use '../imagenes' as imagenes;

.persona{
    display: none;
    position:fixed;
    width: 96vw;
    height: 92vh;
    background-color: colores.$color-blanco;
    padding: 3vh 2vw;
    top: 7vh;
    left: 2vw;
    border-radius: 5px;

    @media (min-width: 768px){
        height: 80vh;
        width: 20vw;
        background-color: transparent;
        background-image: url('../imagenCelular.png');
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        padding: 6vh 2vw;
        left: 40vw;
        top: 10vh;
        border-radius: none;
    }

}

.activo{
    display: flex;
}