@use '../colores' as colores;

#contenedor{
    display: none;
    height: 82vh;
    width: 100vw;
    bottom: 0;
    position: fixed;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color:white;
    
    .navbar{
        grid-area: nav;
        height: 10vh;
        border: none;
        width: 100%;
        
        padding: 10vh 5vw;
        

        .navbar-nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .nav-item{
                .icono-navbar{
                    padding: 0.5vh 1.5vw;
                    border-radius: 16px;
                }
            }
        }
        #navbarNav{
            display: flex;
            width: 100%;
        }
    }
    .botonBajar{
        grid-area: boton;
        height: 2vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}



#contenedores{
    grid-area: contenedores;
    background-color: white;
}

.contenido {
    display: none;
    z-index: 2;

}
.informacion {
    display: none;
    height: 65vh;
    width: 100vw;
    justify-content: center;
    align-items: end;
    padding-bottom: 2vh;
    

    .contenedorInformacion {
        background-color: colores.$color-verde-primario;
        height: 60vh;
        width: 60vw;
        margin-right: 2vw; 
        border-radius: 8px;
      }
      
      .dispositivo {
        background-color: aqua;
        height: 60vh;
        width: 15vw;
      }

}

.card{
    background-color: transparent;
    border: none;
}

.eliminacion{
    display: none;
    height: 65vh;
    width: 100vw;
    justify-content: center;
    align-items: end;
    padding-bottom: 2vh;

    .contenedorEliminar {
        background-color: colores.$color-fondo-verde;
        height: 60vh;
        width: 60vw;
        border-radius: 8px;
      }
}

  
.activo{
    display: flex;
}

.abierto{
    display: grid !important;
    grid-template-areas:
    "boton"
    "nav"
    "contenedores";
    grid-template-rows: 2vh 15vh 65vh;
}



