@use '../colores' as colores;
@use '../imagenes' as imagenes;

.contenedor-dispositivo {
    display: none;
    position: fixed;
    width: 96vw;
    height: 92vh;
    background-color: colores.$color-blanco;
    padding: 3vh 2vw;
    top: 7vh;
    left: 2vw;
    border-radius: 5px;
  
    @media (min-width: 768px) {
      height: 80vh;
      width: auto;
      min-width: 20vw;
      background-color: transparent;
      background-image: url('../../imagenes/imagenCelular.png');
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
      padding: 3vh 2vw;
      left: 40vw;
      top: 10vh;
      border-radius: 0;

      .formulario{
        padding-top: 2vh;
      }
    }

    .botonCerrarDispositivo{
        font-size: large;
        cursor:initial;
        i{
            cursor: pointer;
        }
    }
  
}

.activo {
    display: flex;
  }

.contenedorIconos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

}
.micDispostivo{
    i{
        cursor: pointer;
    }
}

#seccionPersona{
    .btn-primary{
        background-color: colores.$color-secundario;
        color: black;
        border: 0.5px solid black;
        &:hover{
            background-color: colores.$color-seleccionado;
        }
    }
}
  