@use '../colores' as colores;
@use '../imagenes' as imagenes;

#contenedor{
    display: none;
    height: 82vh;
    width: 100vw;
    bottom: 0;
    position: fixed;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color:white;
    
    .navbar{
        grid-area: nav;
        height: 10vh;
        border: none;
        width: 100%;
        
        padding: 10vh 5vw;
        

        .navbar-nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;

            .nav-item{
                .icono-navbar{
                    padding: 0.5vh 1.5vw;
                    border-radius: 16px;
                }
            }
        }
        #navbarNav{
            display: flex;
            width: 100%;
        }
    }
    .botonBajar{
        grid-area: boton;
        height: 2vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}



#contenedores{
    grid-area: contenedores;
    background-color: white;
}

.contenido {
    display: none;
    z-index: 2;

}
.informacion {
    display: none;
    height: 65vh;
    width: 100vw;
    justify-content: center;
    align-items: end;
    padding-bottom: 2vh;
    

    .contenedorInformacion {
        background-color: colores.$color-fondo-verde;
        height: 60vh;
        width: 60vw;
        margin-right: 2vw; 
        border-radius: 16px;
      }
      
      .dispositivo {
        height: 60vh;
        width: 15vw;
        background-color: transparent;
        background-image: url('../imagenCelular.png');
        background-size: 100% 100%;
        background-position: center;
        background-repeat: no-repeat;
        padding: 6vh 2vw;

      }

}

.card{
    background-color: colores.$color-fondo-verde;
    border: none;
}

.eliminacion{
    display: none;
    height: 65vh;
    width: 100vw;
    justify-content: center;
    align-items: end;
    padding-bottom: 2vh;

    .contenedorEliminar {
        display: flex;
        align-items: center;
        height: 60vh;
        width: 60vw;
        border-radius: 8px;
      }
}

.elementoLista{
    width: 100%;
    height: 10vh;
    border: none;
    background-color: transparent;
    text-align: left;
    background-color: colores.$color-secundario;
    &:hover{
        filter: brightness(95%);
    }
}

.permisos{
    display: none;
    height: 65vh;
    width: 100vw;
    justify-content: space-around;
    align-items: end;
    padding-bottom: 2vh;

    .busqueda{
        width: 20vw;
        height: 60vh;
        background-color: colores.$color-secundario;
        margin-right: 0 ;
        .list-group{
            list-style-type: none;      
        }
    }
    .informacionPermiso{
        width: 70vw;
        height: 60vh;
        margin-left: 0;
        padding: 0;

        .card{
            display: flex;
            flex-direction: row !important;
            justify-content: space-evenly;
            align-items: start;
            height: 60vh;
            width: 100%;
            
            border-radius: 0;
            .card-body{
                width: 60%;
                height: 100%;
            }
            .card-img{
                width: 40%;
                height: 100%;
            }
        }
    }
}
  
.activo{
    display: flex !important;
}

.abierto{
    display: grid !important;
    grid-template-areas:
    "boton"
    "nav"
    "contenedores";
    grid-template-rows: 2vh 15vh 65vh;
}



