#contenedor {
  display: none;
  height: 82vh;
  width: 100vw;
  bottom: 0;
  position: fixed;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: white;
}
#contenedor .navbar {
  grid-area: nav;
  height: 10vh;
  border: none;
  width: 100%;
  padding: 10vh 5vw;
}
@media (min-width: 768px) and (max-width: 1023px) {
  #contenedor .navbar {
    height: 3vh;
    padding: 3vh 5vw;
  }
}
#contenedor .navbar .navbar-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}
#contenedor .navbar .navbar-nav .nav-item .icono-navbar {
  padding: 0.5vh 1.5vw;
  border-radius: 16px;
}
#contenedor .navbar .navbar-nav .nav-item a {
  cursor: pointer;
  text-align: center;
}
#contenedor .navbar #navbarNav {
  display: flex;
  width: 100%;
}
#contenedor .botonBajar {
  grid-area: boton;
  height: 2vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#contenedores {
  grid-area: contenedores;
  background-color: white;
}

.contenido {
  display: none;
  height: 65vh;
  width: 100vw;
  justify-content: space-around;
  align-items: end;
  padding-bottom: 2vh;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .contenido {
    align-items: start;
  }
}
.contenido .informacionContenido {
  width: 70vw;
  height: 60vh;
  margin-left: 0;
  padding: 0;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .contenido .informacionContenido {
    width: 70vw;
  }
}
.contenido .informacionContenido .card {
  display: flex;
  flex-direction: row !important;
  background-color: rgba(46, 106, 47, 0.1490196078);
  justify-content: space-evenly;
  align-items: start;
  height: 60vh;
  width: 100%;
  border-radius: 0;
}
.contenido .informacionContenido .card .card-body {
  width: 100%;
  height: 100%;
}
.contenido .informacionContenido #mapaUbicacion {
  width: 30vw;
  height: 60vh;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .contenido .informacionContenido #mapaUbicacion {
    width: 40vw;
  }
}
.contenido .busqueda {
  width: 20vw;
  height: 60vh;
  background-color: #f9f7f6;
  margin-right: 0;
}
.contenido .busqueda .list-group {
  list-style-type: none;
  max-height: 60vh;
  overflow-y: auto;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .contenido .busqueda {
    width: 30vw;
  }
}
.contenido .btn-primary {
  width: 30vw;
  height: 5vh;
  text-align: center;
  background-color: #ffffff !important;
  color: black;
  border: none;
}
.contenido .btn-primary:hover {
  filter: brightness(95%);
}
@media (min-width: 768px) {
  .contenido .btn-primary {
    width: 15vw;
    height: 4vh;
  }
}

.informacion {
  display: none;
  height: 65vh;
  width: 100vw;
  justify-content: center;
  align-items: end;
  padding-bottom: 2vh;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .informacion {
    align-items: start;
  }
}
.informacion .contenedorInformacion {
  background-color: rgba(46, 106, 47, 0.1490196078);
  height: 60vh;
  width: 60vw;
  margin-right: 2vw;
  border-radius: 16px;
  padding: 5vh 1vw;
}
.informacion .contenedorInformacion .carta {
  display: flex;
  flex-direction: row !important;
}
.informacion .contenedorInformacion .carta #codigo {
  display: flex;
  flex-direction: row;
}
.informacion .contenedorInformacion .carta #codigo i {
  margin-left: 1vw;
  cursor: pointer;
}
.informacion .contenedorInformacion .carta .contenedorMensaje button {
  margin-top: 0.5vh;
  background-color: #ffffff;
  color: black;
  border: none;
}
.informacion .contenedorInformacion .carta .contenedorMensaje button:hover {
  filter: brightness(95%);
}
.informacion .contenedorInformacion .card {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.informacion .contenedorInformacion .btnModificar {
  text-align: center;
  width: 15vw;
  height: 4vh;
  background-color: #ffffff !important;
}
.informacion .contenedorInformacion .btnModificar:hover {
  filter: brightness(95%);
}
@media (min-width: 768px) and (max-width: 1023px) {
  .informacion .contenedorInformacion .btnModificar {
    height: 2.5vh;
  }
}
@media (max-width: 768px) {
  .informacion .contenedorInformacion .btnModificar {
    width: 30vw;
    height: 5vh;
  }
}
.informacion .dispositivo {
  height: 60vh;
  width: auto;
  background-color: transparent;
  background-image: url("../../imagenes/imagenCelular.png");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 6vh 2vw;
}
@media (min-width: 768px) {
  .informacion .dispositivo {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .informacion .dispositivo {
    height: 40vh;
    width: 30vw;
  }
}
.informacion .dispositivo i {
  color: #C32F27;
}
.informacion .dispositivo img {
  height: auto;
  width: 13vw;
}

.card {
  border: none;
  background-color: transparent;
}

.eliminacion {
  display: none;
  height: 65vh;
  width: 100vw;
  justify-content: center;
  align-items: end;
  padding-bottom: 2vh;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .eliminacion {
    align-items: start;
  }
}
.eliminacion .contenedorEliminar {
  display: flex;
  align-items: center;
  height: 60vh;
  width: 60vw;
  border-radius: 8px;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .eliminacion .contenedorEliminar {
    align-items: start;
    width: 80vw;
  }
}
.eliminacion .contenedorEliminar .card {
  background-color: rgba(46, 106, 47, 0.1490196078);
}

.elementoLista {
  width: 100%;
  height: 10vh;
  border: none;
  background-color: transparent;
  text-align: left;
  background-color: #f9f7f6;
}
.elementoLista:hover {
  filter: brightness(95%);
}

.personas {
  display: none;
  height: 65vh;
  width: 100vw;
  justify-content: space-around;
  align-items: end;
  padding-bottom: 2vh;
}
@media (min-width: 768px) and (max-width: 1023px) {
  .personas {
    align-items: start;
  }
}
.personas .informacionPersonas {
  width: 70vw;
  height: 60vh;
  margin-left: 0;
  padding: 0;
}
.personas .informacionPersonas .card {
  display: flex;
  flex-direction: row !important;
  justify-content: space-evenly;
  align-items: start;
  height: 60vh;
  width: 100%;
  border-radius: 0;
}
.personas .informacionPersonas .card .card-body {
  width: 60%;
  height: 100%;
}
.personas .informacionPersonas .card .card-img {
  width: 40%;
  height: 100%;
}

.activo {
  display: flex !important;
}

.abierto {
  display: grid !important;
  grid-template-areas: "boton" "nav" "contenedores";
  grid-template-rows: 2vh 15vh 65vh;
}

/*# sourceMappingURL=contenedor.css.map */
