@use '../colores' as colores;

header{
    height: 6vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: colores.$color-verde-primario;
    color: colores.$color-blanco;
}

#enlaceInformacion{
    margin-right: 1vw;
    width: 6vh;
}