@use '../colores' as colores;

@use "../fuentes";

html, body {
    @extend %font-bold;
    margin: 0;
}

header{
    height: 6vh;
    display:flex;
    align-items: center;
    justify-content: space-between;
    background-color: colores.$color-verde-primario;
    color: colores.$color-blanco;

    #tituloPagina{
        @extend %font-bold;
    }
}


#enlaceInformacion{
    width: 6vh;
}