@use '../colores' as colores;

.dropdown-item{
    animation:none;
    transition: none !important;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5vh;

    &:active{
        background-color: colores.$color-seleccionado;
        color: black;
    }
}

#botonMenu{
    margin-left: 1vw;
}

#contenedorMenu{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background-color: colores.$color-blanco;
    position: fixed;
    left: 0;
    top: 6vh;
    z-index: 3;
    width: 20vw;
    height: 94vh;

    .listaDispositivos{
        display: flex;
        flex-direction: column;
        justify-content:start;
        width: 100%;
        height: 100%;
        list-style-type: none;         
        padding: 0;
        overflow-y: auto;
        text-decoration: none;

        

        .elementoDispositivo{
            height: 5vh;
            width: 100%;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: white;
            cursor: pointer;

            .settingsDispositivo,.editarDispositivos{
                display: none;
            }
            &:hover{
                filter: brightness(95%);
            }
            
        }
        .seleccionado{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            justify-content: space-between;
            padding: 0 1vw;
            &:hover{
                filter: brightness(100%);
            }
            .settingsDispositivo,.editarDispositivos{
                display: flex;
                align-items: center;
            }
        }
    }

    .agregar{
        background-color: colores.$color-secundario;
        border-top: 0.1px solid lightgray;
        height: 5vh;
        &:hover{
            filter: brightness(80%);
        }
    }

}

.mostrar{
    display: flex !important;
}

