@use '../colores' as colores;

#datosContenedor{
    display: none;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 997;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10vh 10vw;
    .datoContenedor{
        display: none;
        flex-direction: column;
        height: 100%;
        width: 100%;
        background-color: white;
        z-index: 998;
        border-radius: 20px;
        padding: 2vh 2vw;
        .cabezaDato{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: fit-content;
            color: black;
        }
    }
    #dataGestor{
        #contenedorGestor{
            height: 100%;
            width: 100%;
            padding: 3vh 3vw;
            #listaPermisosGestor{
                background-color: colores.$color-secundario;
                height: 100%;
                width: 100%;
                overflow-y: auto;
                padding: 1vh 2vw;
                li{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    width: 100%;
                    margin-bottom: 5px;
                    select{
                        width: 50%;
                    }
                }
            }
        }
    }
    #dataPC{
        #contenedorPC{
        padding: 5vh 3vw;
        .card{
            height: 100%;
            width: 100%;
            border: none;
            .text-end{
                display: flex;
                justify-content: center;
                i{
                    color: colores.$color-verde-primario;
                }
            }
        }
    }

    }
    
    #dataPermiso{
        #contenedorPermiso{
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            ul{
                width: 70%;
                height: 100%;
                background-color: colores.$color-secundario;
                padding: 3vh 2vw;
                margin: 3vh 2vw;
                overflow-y: auto;
                li{
                    display: flex;
                    justify-content: space-between;
                    select{
                        width: 50%;
                    }
                }
            }
            .btnActivar{
                border: 0.1px solid black;
                background-color: colores.$color-blanco;
                border-radius: 4px;
                width: fit-content;
                height: fit-content;
            }
        }
    }
}

.abierto{
    display: flex !important;
    
}