#datosContenedor {
  display: none;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 997;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10vh 10vw;
  overflow-y: auto;
}
#datosContenedor .datoContenedor {
  display: none;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 998;
  border-radius: 20px;
  padding: 2vh 2vw;
}
#datosContenedor .datoContenedor .cabezaDato {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: fit-content;
  color: black;
  height: 40px;
}
#datosContenedor #dataGestor #contenedorGestor {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  height: fit-content;
  gap: 1rem;
}
#datosContenedor #dataGestor #contenedorGestor .card,
#datosContenedor #dataGestor #contenedorGestor #listaPermisosGestor,
#datosContenedor #dataGestor #contenedorGestor .btnAceptar {
  width: 100%;
  max-width: 500px;
  flex-shrink: 0;
}
#datosContenedor #dataGestor #contenedorGestor .card {
  border: none;
}
#datosContenedor #dataGestor #contenedorGestor #listaPermisosGestor {
  background-color: #f9f7f6;
  overflow-y: auto;
  max-height: 50vh;
  width: 100%;
  padding: 1vh 2vw;
}
#datosContenedor #dataGestor #contenedorGestor #listaPermisosGestor li {
  display: grid;
  grid-template-areas: "label select input";
  grid-template-columns: 60% 30% 10%;
  width: 100%;
  margin-bottom: 5px;
  padding: 10px 0;
}
#datosContenedor #dataGestor #contenedorGestor #listaPermisosGestor li label {
  grid-area: label;
}
#datosContenedor #dataGestor #contenedorGestor #listaPermisosGestor li select {
  grid-area: select;
  margin: 5px 5px;
}
#datosContenedor #dataGestor #contenedorGestor #listaPermisosGestor li input {
  grid-area: input;
  margin: 5px 5px;
}
#datosContenedor #dataGestor #contenedorGestor .btnAceptar {
  border: 0.1px solid black;
  background-color: #ffffff;
  border-radius: 4px;
  width: fit-content;
  height: fit-content;
}
#datosContenedor #dataPC #contenedorPC {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  padding: 5vh 3vw;
}
#datosContenedor #dataPC #contenedorPC .card {
  height: 100%;
  width: 100%;
  border: none;
}
#datosContenedor #dataPC #contenedorPC .card .text-end {
  display: flex;
  justify-content: center;
}
#datosContenedor #dataPC #contenedorPC .card .text-end i {
  color: #2E6A2F;
}
#datosContenedor #dataPC #contenedorPC .btnAceptar {
  border: 0.1px solid black;
  background-color: #ffffff;
  border-radius: 4px;
  width: fit-content;
  height: fit-content;
}
#datosContenedor #dataPermiso #contenedorPermiso {
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  height: fit-content;
  gap: 1rem;
}
#datosContenedor #dataPermiso #contenedorPermiso .card,
#datosContenedor #dataPermiso #contenedorPermiso .ul,
#datosContenedor #dataPermiso #contenedorPermiso .btnAceptar {
  width: 100%;
  max-width: 500px;
  flex-shrink: 0;
}
#datosContenedor #dataPermiso #contenedorPermiso .card {
  border-radius: 0;
}
#datosContenedor #dataPermiso #contenedorPermiso ul {
  width: 100%;
  background-color: #f9f7f6;
  padding: 1vh 2vw;
  border-radius: 0;
  max-height: 40vh;
}
#datosContenedor #dataPermiso #contenedorPermiso ul li {
  display: grid;
  justify-content: center;
  grid-template-areas: "label select input";
  grid-template-columns: 55% 35% 10%;
  width: 100%;
  margin-bottom: 5px;
  padding: 10px 0;
}
#datosContenedor #dataPermiso #contenedorPermiso ul li label {
  grid-area: label;
}
#datosContenedor #dataPermiso #contenedorPermiso ul li select {
  grid-area: select;
}
#datosContenedor #dataPermiso #contenedorPermiso ul li input {
  grid-area: input;
  margin: 5px 5px;
}
#datosContenedor #dataPermiso #contenedorPermiso .btnAceptar {
  border: 0.1px solid black;
  background-color: #ffffff;
  border-radius: 4px;
  width: fit-content;
  height: fit-content;
}

.abierto {
  display: flex !important;
}

/*# sourceMappingURL=datosContenedor.css.map */
